name: Optimum-rbln / PR

on:
  pull_request:
    branches:
      - main
      - dev

env:
  REBEL_PYPI_ENDPOINT: ${{ vars.REBEL_PYPI_INTERNAL_ENDPOINT }}
  REBEL_PYPI_USERNAME: ${{ secrets.REBEL_PYPI_USERNAME }}
  REBEL_PYPI_PASSWORD: ${{ secrets.REBEL_PYPI_PASSWORD }}

jobs:
  # Default PR test if not Dependency update
  optimum-rbln-pytest:
    if: |
      needs.check-pytest-full.outputs.should_full_test != 'true' &&
      needs.check-team-member.outputs.is_team_member == 'true'
    uses: ./.github/workflows/rbln_optimum_pytest.yaml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      rebel_compiler_version: ${{ needs.check-compiler.outputs.compiler_version }}
      test_level: "default"
    secrets: inherit
