name: Optimum-rbln / PR / Pytest

on:
  workflow_call:
    inputs:
      ref:
        description: "ref to checkout"
        required: false
        type: string
      pr_number:
        description: "PR number to run"
        required: false
        type: string
      rebel_compiler_version:
        description: "rebel_compiler version to run"
        required: true
        type: string
      test_level:
        description: "Test level for OPTIMUM_RBLN_TEST_LEVEL (default, full, essential)"
        required: false
        type: string
        default: "default"
      enable_hf_hub_tests:
        description: "Whether to enable HF Hub tests (requires HF credentials)"
        required: false
        type: boolean
        default: false
      fail_fast:
        description: "Whether to fail fast when one matrix job fails"
        required: false
        type: boolean
        default: true
      save_artifacts_path:
        description: "Path to save artifacts (default: empty string, which means not to save artifacts)"
        required: false
        type: string
        default: ""
      reuse_artifacts_path:
        description: "Path to reuse artifacts (default: empty string, which means not to reuse artifacts)"
        required: false
        type: string
        default: ""

env:
  REBEL_PYPI_ENDPOINT: ${{ vars.REBEL_PYPI_INTERNAL_ENDPOINT }}
  REBEL_PYPI_USERNAME: ${{ secrets.REBEL_PYPI_USERNAME }}
  REBEL_PYPI_PASSWORD: ${{ secrets.REBEL_PYPI_PASSWORD }}
  HF_HOME: ${{ secrets.HF_HOME }}
  HF_USER_ID: ${{ inputs.enable_hf_hub_tests && secrets.HF_USER_ID || '' }}
  HF_AUTH_TOKEN: ${{ inputs.enable_hf_hub_tests && secrets.HF_AUTH_TOKEN || '' }}

jobs:
  trigger-vllm-rbln-pkg-update:
    name: trigger vllm-rbln pkg update PR
    runs-on: rebel-k8s-runner
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GIT_PAT }}
          script: |
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: 'rebellions-sw',
              repo: 'vllm-rbln',
              workflow_id: 'dispatch_pkg_update.yaml',
              ref: 'auto_bump_optimum',
              inputs: {
                'python-version': '3.12',
                'optimum-version': 'v0.9.4a5',
                'force-rebuild': 'false'
              }
            })
            console.log(result)