name: Optimum-rbln / BC test

on:
  pull_request:
    branches:
      - hotfix/bc_ci

jobs:
  rbln-bc-compile:
    uses: ./.github/workflows/rbln_bc_compile.yaml
    with:
      bc_tag: ${{ github.event.pull_request.head.sha }}
    secrets: inherit