name: Optimum-rbln / BC test

on:
  pull_request:
    branches:
      - hotfix/bc_ci

jobs:
  latest-bc-tag:
    uses: ./.github/workflows/get_latest_tag.yaml
    secrets: inherit
  
  print-latest-bc-tag:
    needs: [latest-bc-tag]
    runs-on: rebel-k8s-runner
    steps:
      - name: Print latest BC tag
        run: |
          echo "Latest BC tag: ${{ needs.latest-bc-tag.outputs.latest_tag }}"